.about-home-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;

    .about-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 15px;
            text-align: center;
        }

        h1 {
            font-size: 50px;
            text-align: center;
        }

        button{
            width: 150px;
            height: 50px;
            border-radius: 10px;
            color: white;
            background-color: #0000ff7a;
            border-color: white;
        }
    }

}